block content
  div(class='bio')
    div(style='display: inline-block;')
      img(src='/images/profile_picture.png' class='profile-picture')
      h3(class='summary margin--medium') 👋 I'm a Boston-based software engineer who enjoys solving gnarly technical problems, thrives in uncertainty, and aims to always be learning. I'm passionate about increasing diversity in STEM, traveling, and attempting to finish triathlons. 