div(role="banner" id="footer")
  h2(style="margin-top: 7.5px")
    a(class="fa fa-linkedin-square contact" href="https://www.linkedin.com/in/nicole-rifkin/" target="_blank")
    a(class="fa fa-github-square contact" href="https://www.github.com/rifkinni" target="_blank")
    a(class="fa fa-envelope-square contact" href="mailto:rifkinni@outlook.com" target="_blank")
