script(src="javascript/sidebar.js")

block content
  div(id="sidebar")
    h4(class="margin--medium" id="help-text")
    each category in skillCategories
      div(class="skill-section margin--medium")
        span
          span(class="arrow")
          h3(class="js-skill-section clickable")= category.title
          each skill in category.skills
            h4(class="hidden")
              label(for=skill.name class="clickable selectable container")!= skill.name
                input(type="radio" class="js-skill clickable" id=skill.name name="skill")
                span(class="checkmark")
                span(class="hidden skill-level")!=skill.level
