extends layout

block content
  include partials/header.jade
  div(class='bio')
    div(style='float:left')
      img(src='/images/profile_picture.png' class='profile-picture')
    h2(class='summary text margin--medium')= bio.summary
  include partials/footer.jade
