head
  style.
    img {
      display: block;
      margin: 50px auto;
    }
    body {
      background-color: #3F3250;
    }

block content
  img(src="/images/baby_louie_nora.jpg" style="width: 70%;")
  img(src="/images/louie.jpg" style="width: 70%;")
  img(src="/images/baby.jpg" style="width: 50%;")