extends layout

block content
  img(src="/images/baby_louie_nora.jpg" class="cat-pic")
  img(src="/images/louie.jpg" class="cat-pic")
  img(src="/images/baby.jpg" class="cat-pic" style="width: 50%;")
