extends layout
block styles
  link(rel='stylesheet', href='/stylesheets/radio-buttons.css')
  link(rel='stylesheet', href='/stylesheets/resume.css')

block content
  include partials/sidebar.pug
  include partials/content.pug
