/*
pink: #E14658
navy: #22252C
plum: #3F3250
brown: #COB3A0
*/

:root {
  --header-height: 100px;
  --footer-height: 50px;
}

body {
  font-family: Ariel, sans-serif;
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  background-color: #3F3250;
  color: #C0B3A0;
  font-size: 1.1em;
}

div[role="banner"] {
  text-align: center;
  background-color: #22252C;
  width: 100%;
  left: 0;
  position: fixed;
  z-index: 1;
}

#header {
  top: 0;
  height: var(--header-height);
}

#footer {
  bottom: 0;
  height: var(--footer-height);
}

.bio {
  margin: 10px auto;
  display: inline-block;
}

.dropdown {
  position: absolute;
  right: 25px;
  top: 0px;
}

#menu-icon {
  font-size: 2em;
  margin-top: calc(var(--header-height)/3);
  margin-right: 10px;
}

.dropdown:hover .dropdown-content {
  display:block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #22252C;
  right: 0px;
  padding: 10px;
}

.dropdown-content a {
  padding: 2px 10px;
  text-decoration: none;
  display: block;
  z-index: 1;
  color: #C0B3A0;
}

label {
  padding-left: 5px;
}

:checked + label {
  color: #E14658;
}

.margin--small {
  margin: 10px;
}

.margin--medium {
  margin: 25px;
}

h1 {
  color: #E14658;
}

a {
  color: #E14658;
}

.pink {
  color: #E14658;
}

p {
  font-size: 1.12em;
}

#sidebar {
  display: none;
  color: #22252C;
  background-color: #C0B3A0;
  position: fixed;
  top: var(--header-height);
  bottom: var(--footer-height);
  left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 20%;

  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;  /* Firefox */
}

#sidebar::-webkit-scrollbar {
  display: none;  /* Safari and Chrome*/
}

.skill-section h3 {
  display: inline;
}

.hidden {
  display: none !important;
}

.clickable {
  cursor: pointer;
}

.selectable:hover, a:hover {
  opacity: .7;
}

.selected {
  color: #E14658;
}

#resume {
  margin: 0 50px;
}

.content-section-title {
  text-align: center;
  color: inherit;
}

.content-entry {
  margin: 50px 0px;
}

.dates {
  float: right;
  margin: 3px 0 0 0;
}

.arrow {
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-right: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow--down {
  margin-bottom: 3px;
  transform: rotate(45deg) !important;
  -webkit-transform: rotate(45deg) !important;
}

.arrow--up {
  margin-bottom: 3px;
  transform: rotate(-135deg) !important;
  -webkit-transform: rotate(-135deg) !important;
}

.arrow--large {
  padding: 7px;
}

#help-text {
  color: #E14658;
}


.blog-image {
  max-width: 25%;
  display: inline;
  object-fit: cover;
  margin: auto;
}

.blog-post {
  width: 95%;
  margin: auto;
  display: flex;
}

.blog-body {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  .content-entry {
    margin-left: 20%;
  }

  #sidebar {
    display: block;
  }

  .bio {
    max-width: 80%;
    display: block;
  }

  .blog-post {
    width: 45%;
  }
}

.profile-picture {
  border-radius: 30%;
  width: 100px;
  margin: 10px 25px;
}

.summary {
  text-align: justify;
}

.faded {
  opacity: .5;
}

.contact {
  margin: 5px;
  text-decoration: none;
}

.text {
  max-width: 1000px;
}

.description {
  text-align: justify;
}

hr {
  border: 1.5px solid #22252C;
  margin-top: 48px;
}

.cat-pic {
  display: block;
  margin: 50px auto;
  width: 70%;
}

.skill-level {
  padding-left: 5px;
  font-size: 80%;
}

.container:hover .skill-level {
  display: inline !important;
}

.container input:checked ~ .skill-level {
  display: inline !important;
}
